<script setup lang="ts">
import { onMounted } from 'vue';
import axios from 'axios';
const getStreme = () => {
    axios('https://vkceyugu.cdn.bspapp.com/VKCEYUGU-8e76dff9-ce38-4577-9e5c-398943705060/a5b050b8-3fa1-4436-b231-7b40725de731.pdf', {
        method: 'get',
        responseType: 'blob',
    }).then((res: any) => {
        const blob = new Blob([res.data], {
            type: 'application/pdf',
        });
        const url = URL.createObjectURL(blob);
        console.log('blob>>>', blob, res, url);
        const iframeDom = document.getElementById('iframe') as HTMLFormElement;
        iframeDom.src = url + '#toolbar=0';
    });
}
onMounted(() => {
    getStreme()
})
</script>

<template>
 <iframe src="" id="iframe" frameBorder="0" />
</template>

<style scoped>
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
</style>
